USE [qlns]
GO
/****** Object:  Table [dbo].[luong_san_pham]    Script Date: 1/3/2018 8:07:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[luong_san_pham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_TINH_LUONG] [int] NULL,
	[ID_DON_GIA_SP] [int] NULL,
	[SAN_LUONG_SP] [decimal](18, 0) NULL,
	[HE_SO_CONG_VAO] [decimal](18, 0) NULL,
	[SL_MUC_1] [decimal](18, 0) NULL,
	[SL_MUC_2] [decimal](18, 0) NULL,
	[DON_GIA_1] [decimal](18, 0) NULL,
	[DON_GIA_2] [decimal](18, 0) NULL,
	[DON_GIA_3] [decimal](18, 0) NULL,
	[GHI_CHU] [nvarchar](100) NULL,
	[TONG_LUONG_SP] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[luong_thoi_gian]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[luong_thoi_gian](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_TINH_LUONG] [int] NULL,
	[ID_NGAY_CONG] [int] NULL,
	[HE_SO_CHUC_DANH] [decimal](18, 0) NULL,
	[GHI_CHU] [nvarchar](100) NULL,
	[TONG_LUONG_TG] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ns_chuc_danh]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ns_chuc_danh](
	[MA_CHUC_DANH] [nvarchar](50) NOT NULL,
	[TEN_CHUC_DANH] [nvarchar](200) NULL,
	[HE_SO] [float] NULL,
	[HE_SO_TRACH_NHIEM] [float] NULL,
	[TOEIC] [int] NULL,
	[NGAY_TAO] [datetime] NULL,
	[NGUOI_TAO] [int] NULL,
	[NGAY_CAP_NHAT] [datetime] NULL,
	[NGUOI_CAP_NHAT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_CHUC_DANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ns_chuyen_nganh]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ns_chuyen_nganh](
	[MA_CHUYEN_NGANH] [nvarchar](50) NOT NULL,
	[TEN_CHUYEN_NGANH] [nvarchar](100) NULL,
	[LA_CNTT] [int] NULL,
	[NGAY_TAO] [datetime] NULL,
	[NGUOI_TAO] [int] NULL,
	[NGAY_CAP_NHAT] [datetime] NULL,
	[NGUOI_CAP_NHAT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_CHUYEN_NGANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ns_don_vi]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ns_don_vi](
	[MA_DON_VI] [nvarchar](50) NOT NULL,
	[TEN_DON_VI] [nvarchar](50) NOT NULL,
	[NGAY_THANH_LAP] [date] NULL,
	[NGAY_TAO] [datetime] NULL,
	[NGUOI_TAO] [int] NULL,
	[NGAY_CAP_NHAT] [datetime] NULL,
	[NGUOI_CAP_NHAT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_DON_VI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ns_hop_dong]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ns_hop_dong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NHAN_VIEN_ID] [int] NOT NULL,
	[LOAI_HOP_DONG_ID] [int] NOT NULL,
	[SO_HOP_DONG] [nvarchar](50) NULL,
	[TU_NGAY] [datetime] NULL,
	[DEN_NGAY] [datetime] NULL,
	[SO_QUYET_DINH] [nvarchar](50) NULL,
	[NGAY_TAO] [datetime] NULL,
	[NGUOI_TAO] [int] NULL,
	[NGAY_CAP_NHAT] [datetime] NULL,
	[NGUOI_CAP_NHAT] [int] NULL,
	[ATTACH_FILE] [ntext] NULL,
	[NGAY_KY] [datetime] NULL,
	[NGUOI_KY] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ns_ht_khen_thuong]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ns_ht_khen_thuong](
	[MA_HT_KHEN_THUONG] [nvarchar](50) NOT NULL,
	[TEN_HT_KHEN_THUONG] [nvarchar](100) NULL,
	[HE_SO] [int] NULL,
	[NGAY_TAO] [date] NULL,
	[NGUOI_TAO] [int] NULL,
	[NGAY_CAP_NHAT] [date] NULL,
	[NGUOI_CAP_NHAT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_HT_KHEN_THUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ns_ht_ky_luat]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ns_ht_ky_luat](
	[MA_HT_KY_LUAT] [nvarchar](50) NOT NULL,
	[TEN_HT_KY_LUAT] [nvarchar](100) NOT NULL,
	[HE_SO] [int] NULL,
	[NGAY_TAO] [datetime] NULL,
	[NGUOI_TAO] [int] NULL,
	[NGAY_CAP_NHAT] [datetime] NULL,
	[NGUOI_CAP_NHAT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_HT_KY_LUAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ns_khen_thuong]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ns_khen_thuong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HT_KHEN_THUONG] [nvarchar](50) NOT NULL,
	[NHAN_VIEN_ID] [int] NULL,
	[NGAY_KHEN_THUONG] [datetime] NULL,
	[GHI_CHU] [ntext] NULL,
	[SO_QUYET_DINH] [nvarchar](50) NULL,
	[ATTACH_FILE] [ntext] NULL,
	[NGAY_TAO] [datetime] NULL,
	[NGUOI_TAO] [int] NULL,
	[NGAY_CAP_NHAT] [datetime] NULL,
	[NGUOI_CAP_NHAT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ns_ky_luat]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ns_ky_luat](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA_HT_KY_LUAT] [nvarchar](50) NOT NULL,
	[NHAN_VIEN_ID] [int] NOT NULL,
	[NGAY_KY_LUAT] [datetime] NOT NULL,
	[GHI_CHU] [nvarchar](100) NULL,
	[SO_QUYET_DINH] [nvarchar](50) NULL,
	[ATTACH_FILE] [ntext] NULL,
	[NGAY_TAO] [datetime] NULL,
	[NGUOI_TAO] [int] NULL,
	[NGAY_CAP_NHAT] [datetime] NULL,
	[NGUOI_CAP_NHAT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ns_loai_hop_dong]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ns_loai_hop_dong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA_HOP_DONG] [nvarchar](50) NOT NULL,
	[TEN_HOP_DONG] [nvarchar](100) NOT NULL,
	[NGAY_TAO] [datetime] NULL,
	[NGUOI_TAO] [int] NULL,
	[NGAY_CAP_NHAT] [datetime] NULL,
	[NGUOI_CAP_NHAT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ns_nhan_vien]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ns_nhan_vien](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA_NHAN_VIEN] [int] NOT NULL,
	[TEN_NHAN_VIEN] [nvarchar](50) NOT NULL,
	[MA_DON_VI] [nvarchar](50) NOT NULL,
	[MA_CHUC_DANH] [nvarchar](50) NULL,
	[MA_CHUYEN_NGANH] [nvarchar](50) NULL,
	[CHUNG_CHI] [ntext] NULL,
	[TRINH_DO] [nvarchar](50) NULL,
	[username] [nvarchar](100) NULL,
	[password] [nvarchar](100) NULL,
	[NGAY_SINH] [datetime] NULL,
	[GIOI_TINH] [nvarchar](3) NULL,
	[ANH] [ntext] NULL,
	[DIA_CHI] [ntext] NULL,
	[SO_DIEN_THOAI] [nvarchar](50) NULL,
	[DI_DONG] [nvarchar](50) NULL,
	[DAN_TOC] [nvarchar](50) NULL,
	[SO_THE_BHYT] [nvarchar](50) NULL,
	[SO_XO_BHXH] [nvarchar](50) NULL,
	[SO_THE_NGANH] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[SO_CMND] [nvarchar](50) NULL,
	[NGAY_VAO_DANG] [datetime] NULL,
	[CHUC_VU_DANG] [nvarchar](50) NULL,
	[NGAY_TINH_THAM_NIEN] [datetime] NULL,
	[NGAY_TAO] [datetime] NULL,
	[NGUOI_TAO] [int] NULL,
	[NGAY_CAP_NHAT] [datetime] NULL,
	[NGUOI_CAP_NHAT] [int] NULL,
	[IS_ACTIVE] [int] NOT NULL,
	[IS_DELETE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ns_qua_trinh_cong_tac]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ns_qua_trinh_cong_tac](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CHUC_DANH_ID] [nvarchar](50) NULL,
	[DON_VI_ID] [nvarchar](50) NULL,
	[TRANG_THAI_LAM_VIEC_ID] [int] NULL,
	[NHAN_VIEN_ID] [int] NULL,
	[TU_NGAY] [datetime] NULL,
	[DEN_NGAY] [datetime] NULL,
	[GHI_CHU] [nvarchar](100) NULL,
	[SO_QUYET_DINH] [nvarchar](50) NULL,
	[ATTACH_FILE] [ntext] NULL,
	[NGAY_TAO] [datetime] NULL,
	[NGUOI_TAO] [int] NULL,
	[NGAY_CAP_NHAT] [datetime] NULL,
	[NGUOI_CAP_NHAT] [int] NULL,
	[HE_SO_BAO_HIEM] [decimal](18, 0) NULL,
	[BANG_LUONG] [nvarchar](50) NULL,
	[BAC_LUONG] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ns_tai_nan_lao_dong]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ns_tai_nan_lao_dong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NHAN_VIEN_ID] [int] NOT NULL,
	[NGAY_TAI_NAN] [datetime] NOT NULL,
	[LY_DO] [nvarchar](200) NULL,
	[TY_LE_THUONG_TAT] [int] NULL,
	[GHI_CHU] [nvarchar](200) NULL,
	[NGAY_TAO] [datetime] NULL,
	[NGUOI_TAO] [int] NULL,
	[NGAY_CAP_NHAT] [datetime] NULL,
	[NGUOI_CAP_NHAT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ns_than_nhan]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ns_than_nhan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NHAN_VIEN_ID] [int] NOT NULL,
	[TEN_MOI_QUAN_HE] [nvarchar](50) NOT NULL,
	[HO_TEN] [nvarchar](50) NULL,
	[NGAY_SINH] [datetime] NULL,
	[DIA_CHI] [nvarchar](100) NULL,
	[SO_DIEN_THOAI] [nvarchar](50) NULL,
	[NGHE_NGHIEP] [nvarchar](50) NULL,
	[GIAM_TRU] [nvarchar](10) NULL,
	[GIAM_TU_NGAY] [datetime] NULL,
	[GIAM_DEN_NGAY] [datetime] NULL,
	[NGAY_TAO] [datetime] NULL,
	[NGUOI_TAO] [int] NULL,
	[NGAY_CAP_NHAT] [datetime] NULL,
	[NGUOI_CAP_NHAT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ns_trang_thai_lam_viec]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ns_trang_thai_lam_viec](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA_TT_LAM_VIEC] [nvarchar](50) NOT NULL,
	[TEN_TT_LAM_VIEC] [nvarchar](100) NOT NULL,
	[NGAY_TAO] [datetime] NULL,
	[NGUOI_TAO] [int] NULL,
	[NGAY_CAP_NHAT] [datetime] NULL,
	[NGUOI_CAP_NHAT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[qt_menus]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qt_menus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PARENT] [int] NULL,
	[TIEU_DE] [nvarchar](100) NOT NULL,
	[URL] [nvarchar](200) NULL,
	[NGAY_TAO] [datetime] NULL,
	[NGUOI_TAO] [int] NULL,
	[NGAY_CAP_NHAT] [datetime] NULL,
	[NGUOI_CAP_NHAT] [int] NULL,
	[STT] [int] NULL,
	[IsDeleted] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[qt_vai_tro]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qt_vai_tro](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN_VAI_TRO] [nvarchar](50) NULL,
	[MO_TA] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[qt_vai_tro_menus]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qt_vai_tro_menus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_VAI_TRO] [int] NOT NULL,
	[ID_MENU] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[qt_vai_tro_users]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qt_vai_tro_users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_NHAN_VIEN] [int] NOT NULL,
	[ID_VAI_TRO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tinh_luong]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tinh_luong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KY] [int] NULL,
	[NAM] [int] NULL,
	[ID_NHAN_VIEN] [int] NULL,
	[TONG_LUONG] [decimal](18, 0) NULL,
	[ID_THUE_TNCN] [int] NULL,
	[SO_NGUOI_GIAM_TNCN] [int] NULL,
	[LUONG_MIEN_TNCN] [decimal](18, 0) NULL,
	[LUONG_CHIU_THUE] [decimal](18, 0) NULL,
	[NOP_THUE] [decimal](18, 0) NULL,
	[LUONG_SAU_THUE] [decimal](18, 0) NULL,
	[ID_NGAY_CONG] [int] NULL,
	[ID_HO_TRO] [int] NULL,
	[TIEN_HO_TRO] [decimal](18, 0) NULL,
	[ID_TIEN_THUONG] [int] NULL,
	[TIEN_THUONG] [decimal](18, 0) NULL,
	[THU_NHAP] [decimal](18, 0) NULL,
	[CHOT] [int] NULL,
	[NGUOI_CHOT] [int] NULL,
	[CHI_PHI_BH] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tl_che_do_bao_hiem]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tl_che_do_bao_hiem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HE_SO_BAO_HIEM] [decimal](18, 0) NULL,
	[BHXH_CTY] [decimal](18, 0) NULL,
	[BHXH_NV] [decimal](18, 0) NULL,
	[BHYT_CTY] [decimal](18, 0) NULL,
	[BHYT_NV] [decimal](18, 0) NULL,
	[BHTN_CTY] [decimal](18, 0) NULL,
	[BHTN_NV] [decimal](18, 0) NULL,
	[DOAN_PHI_CTY] [decimal](18, 0) NULL,
	[DOAN_PHI_NV] [decimal](18, 0) NULL,
	[TU_NGAY] [datetime] NULL,
	[DEN_NGAY] [datetime] NULL,
	[GHI_CHU] [ntext] NULL,
	[NGUOI_NHAP] [int] NULL,
	[NGAY_NHAP] [datetime] NULL,
	[NGUOI_SUA] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tl_filechamcong]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tl_filechamcong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[KY] [int] NULL,
	[NAM] [int] NULL,
	[MA_DON_VI] [nvarchar](50) NULL,
	[TEN_FILE] [nvarchar](50) NULL,
 CONSTRAINT [PK_tl_filechamcong] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tl_giam_tru_thue_tncn]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tl_giam_tru_thue_tncn](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GIAM_TRU_CA_NHAN] [decimal](18, 0) NULL,
	[GIAM_TRU_PHU_THUOC] [decimal](18, 0) NULL,
	[TU_NGAY] [datetime] NULL,
	[DEN_NGAY] [datetime] NULL,
	[GHI_CHU] [ntext] NULL,
	[NGUOI_NHAP] [int] NULL,
	[NGAY_NHAP] [datetime] NULL,
	[NGUOI_SUA] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tl_ho_tro]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tl_ho_tro](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SO_TIEN] [decimal](18, 0) NULL,
	[NOI_DUNG_HO_TRO] [nvarchar](200) NULL,
	[GHI_CHU] [ntext] NULL,
	[NGAY_NHAP] [datetime] NULL,
	[NGUOI_NHAP] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
	[NGUOI_SUA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tl_ngay_cong]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tl_ngay_cong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KY] [int] NULL,
	[NAM] [int] NULL,
	[ID_NHAN_VIEN] [int] NULL,
	[NGAY_CONG_THOI_GIAN] [decimal](18, 0) NULL,
	[NGAY_CONG_SL] [decimal](18, 0) NULL,
	[TONG_CONG] [decimal](18, 0) NULL,
	[HE_SO_CONG_THANG] [decimal](18, 0) NULL,
	[GHI_CHU] [ntext] NULL,
	[NGUOI_NHAP] [int] NULL,
	[NGAY_NHAP] [datetime] NULL,
	[NGUOI_SUA] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tl_phi_bao_hiem]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tl_phi_bao_hiem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_TINH_LUONG] [int] NULL,
	[ID_che_bao_hiem] [int] NULL,
	[NOP_BHXH] [decimal](18, 0) NULL,
	[NOP_BHYT] [decimal](18, 0) NULL,
	[NOP_BHTN] [decimal](18, 0) NULL,
	[NOP_DOAN_PHI_NV] [decimal](18, 0) NULL,
	[TONG_PHI] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tl_san_pham]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tl_san_pham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA_SAN_PHAM] [nvarchar](200) NOT NULL,
	[TEN_CONG_VIEC] [ntext] NULL,
	[HE_SO_CONG_VAO] [decimal](18, 0) NULL,
	[SL_MUC_1] [decimal](18, 0) NULL,
	[SL_MUC_2] [decimal](18, 0) NULL,
	[DON_GIA_1] [decimal](18, 0) NULL,
	[DON_GIA_2] [decimal](18, 0) NULL,
	[DON_GIA_3] [decimal](18, 0) NULL,
	[TU_NGAY] [datetime] NULL,
	[DEN_NGAY] [datetime] NULL,
	[GHI_CHU] [ntext] NULL,
	[NGUOI_NHAP] [int] NULL,
	[NGAY_NHAP] [datetime] NULL,
	[NGUOI_SUA] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
	[MA_DON_VI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tl_thuong]    Script Date: 1/3/2018 8:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tl_thuong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KY] [int] NULL,
	[NAM] [int] NULL,
	[TIEN_THUONG] [decimal](18, 0) NULL,
	[NOI_DUNG] [nvarchar](200) NULL,
	[ID_NHAN_VIEN] [int] NULL,
	[GHI_CHU] [ntext] NULL,
	[NGAY_NHAP] [datetime] NULL,
	[NGUOI_NHAP] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
	[NGUOI_SUA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[luong_san_pham] ON 

INSERT [dbo].[luong_san_pham] ([ID], [ID_TINH_LUONG], [ID_DON_GIA_SP], [SAN_LUONG_SP], [HE_SO_CONG_VAO], [SL_MUC_1], [SL_MUC_2], [DON_GIA_1], [DON_GIA_2], [DON_GIA_3], [GHI_CHU], [TONG_LUONG_SP]) VALUES (33, 79, 1, CAST(42341 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(21315 AS Decimal(18, 0)), CAST(39585 AS Decimal(18, 0)), CAST(170 AS Decimal(18, 0)), CAST(190 AS Decimal(18, 0)), CAST(110 AS Decimal(18, 0)), NULL, CAST(7398010 AS Decimal(18, 0)))
INSERT [dbo].[luong_san_pham] ([ID], [ID_TINH_LUONG], [ID_DON_GIA_SP], [SAN_LUONG_SP], [HE_SO_CONG_VAO], [SL_MUC_1], [SL_MUC_2], [DON_GIA_1], [DON_GIA_2], [DON_GIA_3], [GHI_CHU], [TONG_LUONG_SP]) VALUES (34, 80, 2, CAST(6832 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(3850 AS Decimal(18, 0)), CAST(5200 AS Decimal(18, 0)), CAST(1040 AS Decimal(18, 0)), CAST(1140 AS Decimal(18, 0)), CAST(700 AS Decimal(18, 0)), NULL, CAST(6685400 AS Decimal(18, 0)))
INSERT [dbo].[luong_san_pham] ([ID], [ID_TINH_LUONG], [ID_DON_GIA_SP], [SAN_LUONG_SP], [HE_SO_CONG_VAO], [SL_MUC_1], [SL_MUC_2], [DON_GIA_1], [DON_GIA_2], [DON_GIA_3], [GHI_CHU], [TONG_LUONG_SP]) VALUES (35, 81, 2, CAST(6823 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(3850 AS Decimal(18, 0)), CAST(5200 AS Decimal(18, 0)), CAST(1040 AS Decimal(18, 0)), CAST(1140 AS Decimal(18, 0)), CAST(700 AS Decimal(18, 0)), NULL, CAST(6679100 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[luong_san_pham] OFF
SET IDENTITY_INSERT [dbo].[luong_thoi_gian] ON 

INSERT [dbo].[luong_thoi_gian] ([ID], [ID_TINH_LUONG], [ID_NGAY_CONG], [HE_SO_CHUC_DANH], [GHI_CHU], [TONG_LUONG_TG]) VALUES (119, 78, 58, CAST(15 AS Decimal(18, 0)), NULL, CAST(13200000 AS Decimal(18, 0)))
INSERT [dbo].[luong_thoi_gian] ([ID], [ID_TINH_LUONG], [ID_NGAY_CONG], [HE_SO_CHUC_DANH], [GHI_CHU], [TONG_LUONG_TG]) VALUES (120, 79, 59, CAST(15 AS Decimal(18, 0)), NULL, CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[luong_thoi_gian] ([ID], [ID_TINH_LUONG], [ID_NGAY_CONG], [HE_SO_CHUC_DANH], [GHI_CHU], [TONG_LUONG_TG]) VALUES (121, 80, 60, CAST(15 AS Decimal(18, 0)), NULL, CAST(900000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[luong_thoi_gian] OFF
INSERT [dbo].[ns_chuc_danh] ([MA_CHUC_DANH], [TEN_CHUC_DANH], [HE_SO], [HE_SO_TRACH_NHIEM], [TOEIC], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT]) VALUES (N'CG_1', N'Chuyên gia 1', 19, 0, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ns_chuc_danh] ([MA_CHUC_DANH], [TEN_CHUC_DANH], [HE_SO], [HE_SO_TRACH_NHIEM], [TOEIC], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT]) VALUES (N'CG_2', N'Chuyên gia 2', 17, 0, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ns_chuc_danh] ([MA_CHUC_DANH], [TEN_CHUC_DANH], [HE_SO], [HE_SO_TRACH_NHIEM], [TOEIC], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT]) VALUES (N'CG_3', N'Chuyên gia 3', 15, 0, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[ns_chuyen_nganh] ([MA_CHUYEN_NGANH], [TEN_CHUYEN_NGANH], [LA_CNTT], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT]) VALUES (N'HTTT', N'Hệ thống thông tin', 1, CAST(0x0000A84C01143736 AS DateTime), 1, NULL, NULL)
INSERT [dbo].[ns_chuyen_nganh] ([MA_CHUYEN_NGANH], [TEN_CHUYEN_NGANH], [LA_CNTT], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT]) VALUES (N'KSTDK', N'Kỹ sư toán điều khiển', 1, CAST(0x0000A84C01138C32 AS DateTime), 1, CAST(0x0000A84C0113D505 AS DateTime), 1)
INSERT [dbo].[ns_chuyen_nganh] ([MA_CHUYEN_NGANH], [TEN_CHUYEN_NGANH], [LA_CNTT], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT]) VALUES (N'KTDT', N'Kỹ thuật điện tử', 1, CAST(0x0000A84C0114598E AS DateTime), 1, NULL, NULL)
INSERT [dbo].[ns_don_vi] ([MA_DON_VI], [TEN_DON_VI], [NGAY_THANH_LAP], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT]) VALUES (N'BLĐ', N'Ban lãnh đạo công ty', NULL, NULL, NULL, CAST(0x0000A84D013C0194 AS DateTime), 1)
INSERT [dbo].[ns_don_vi] ([MA_DON_VI], [TEN_DON_VI], [NGAY_THANH_LAP], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT]) VALUES (N'CNMN.1', N'Chi nhánh miền nam', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ns_don_vi] ([MA_DON_VI], [TEN_DON_VI], [NGAY_THANH_LAP], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT]) VALUES (N'CNMN.2', N'Chi nhánh miền nam 2', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ns_hop_dong] ON 

INSERT [dbo].[ns_hop_dong] ([ID], [NHAN_VIEN_ID], [LOAI_HOP_DONG_ID], [SO_HOP_DONG], [TU_NGAY], [DEN_NGAY], [SO_QUYET_DINH], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT], [ATTACH_FILE], [NGAY_KY], [NGUOI_KY]) VALUES (4, 1388, 2, N'458', CAST(0x0000A84700000000 AS DateTime), CAST(0x0000A84300000000 AS DateTime), N'ghfghgh', CAST(0x0000A850014BB671 AS DateTime), 1, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ns_hop_dong] OFF
INSERT [dbo].[ns_ht_khen_thuong] ([MA_HT_KHEN_THUONG], [TEN_HT_KHEN_THUONG], [HE_SO], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT]) VALUES (N'LDTT', N'Lao động tiên tiến', 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[ns_ht_khen_thuong] ([MA_HT_KHEN_THUONG], [TEN_HT_KHEN_THUONG], [HE_SO], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT]) VALUES (N'LDXS', N'Lao động xuất sắc', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[ns_ht_ky_luat] ([MA_HT_KY_LUAT], [TEN_HT_KY_LUAT], [HE_SO], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT]) VALUES (N'01', N'Vi phạm bản quyền', 1, CAST(0x0000A84C012D0E2A AS DateTime), 1, CAST(0x0000A84C012E46C8 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ns_khen_thuong] ON 

INSERT [dbo].[ns_khen_thuong] ([ID], [HT_KHEN_THUONG], [NHAN_VIEN_ID], [NGAY_KHEN_THUONG], [GHI_CHU], [SO_QUYET_DINH], [ATTACH_FILE], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT]) VALUES (1, N'LDTT', 1388, CAST(0x0000A84200000000 AS DateTime), NULL, N'111', NULL, CAST(0x0000A850014BF366 AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ns_khen_thuong] OFF
SET IDENTITY_INSERT [dbo].[ns_loai_hop_dong] ON 

INSERT [dbo].[ns_loai_hop_dong] ([ID], [MA_HOP_DONG], [TEN_HOP_DONG], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT]) VALUES (1, N'01', N'Công nhật', NULL, NULL, NULL, NULL)
INSERT [dbo].[ns_loai_hop_dong] ([ID], [MA_HOP_DONG], [TEN_HOP_DONG], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT]) VALUES (2, N'03', N'Thử việc', NULL, NULL, NULL, NULL)
INSERT [dbo].[ns_loai_hop_dong] ([ID], [MA_HOP_DONG], [TEN_HOP_DONG], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT]) VALUES (3, N'04', N'Xác định thời hạn 12 tháng', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ns_loai_hop_dong] OFF
SET IDENTITY_INSERT [dbo].[ns_nhan_vien] ON 

GO
SET IDENTITY_INSERT [dbo].[ns_nhan_vien] OFF
SET IDENTITY_INSERT [dbo].[ns_qua_trinh_cong_tac] ON 

INSERT [dbo].[ns_qua_trinh_cong_tac] ([ID], [CHUC_DANH_ID], [DON_VI_ID], [TRANG_THAI_LAM_VIEC_ID], [NHAN_VIEN_ID], [TU_NGAY], [DEN_NGAY], [GHI_CHU], [SO_QUYET_DINH], [ATTACH_FILE], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT], [HE_SO_BAO_HIEM], [BANG_LUONG], [BAC_LUONG]) VALUES (1, N'TGD', N'BLĐ', 1, 711, CAST(0x00008A6500000000 AS DateTime), NULL, NULL, N'SYSTEM_AUTO', NULL, NULL, NULL, NULL, NULL, CAST(19 AS Decimal(18, 0)), NULL, N'1/2')
INSERT [dbo].[ns_qua_trinh_cong_tac] ([ID], [CHUC_DANH_ID], [DON_VI_ID], [TRANG_THAI_LAM_VIEC_ID], [NHAN_VIEN_ID], [TU_NGAY], [DEN_NGAY], [GHI_CHU], [SO_QUYET_DINH], [ATTACH_FILE], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT], [HE_SO_BAO_HIEM], [BANG_LUONG], [BAC_LUONG]) VALUES (2, N'PTGD', N'BLĐ', 1, 712, CAST(0x000084B000000000 AS DateTime), NULL, NULL, N'SYSTEM_AUTO', NULL, NULL, NULL, NULL, NULL, CAST(16 AS Decimal(18, 0)), NULL, N'1/2')
INSERT [dbo].[ns_qua_trinh_cong_tac] ([ID], [CHUC_DANH_ID], [DON_VI_ID], [TRANG_THAI_LAM_VIEC_ID], [NHAN_VIEN_ID], [TU_NGAY], [DEN_NGAY], [GHI_CHU], [SO_QUYET_DINH], [ATTACH_FILE], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT], [HE_SO_BAO_HIEM], [BANG_LUONG], [BAC_LUONG]) VALUES (3, N'PTGD', N'BLĐ', 1, 713, CAST(0x0000A58000000000 AS DateTime), NULL, NULL, N'SYSTEM_AUTO', NULL, NULL, NULL, NULL, NULL, CAST(16 AS Decimal(18, 0)), NULL, N'1/2')
GO
SET IDENTITY_INSERT [dbo].[ns_qua_trinh_cong_tac] OFF
SET IDENTITY_INSERT [dbo].[ns_than_nhan] ON 

INSERT [dbo].[ns_than_nhan] ([ID], [NHAN_VIEN_ID], [TEN_MOI_QUAN_HE], [HO_TEN], [NGAY_SINH], [DIA_CHI], [SO_DIEN_THOAI], [NGHE_NGHIEP], [GIAM_TRU], [GIAM_TU_NGAY], [GIAM_DEN_NGAY], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT]) VALUES (1, 711, N'Con', N'AUTO_SYSTEM+1', NULL, NULL, NULL, NULL, N'Y', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ns_than_nhan] ([ID], [NHAN_VIEN_ID], [TEN_MOI_QUAN_HE], [HO_TEN], [NGAY_SINH], [DIA_CHI], [SO_DIEN_THOAI], [NGHE_NGHIEP], [GIAM_TRU], [GIAM_TU_NGAY], [GIAM_DEN_NGAY], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT]) VALUES (2, 713, N'Con', N'AUTO_SYSTEM+1', NULL, NULL, NULL, NULL, N'Y', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ns_than_nhan] ([ID], [NHAN_VIEN_ID], [TEN_MOI_QUAN_HE], [HO_TEN], [NGAY_SINH], [DIA_CHI], [SO_DIEN_THOAI], [NGHE_NGHIEP], [GIAM_TRU], [GIAM_TU_NGAY], [GIAM_DEN_NGAY], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT]) VALUES (3, 713, N'Con', N'AUTO_SYSTEM+2', NULL, NULL, NULL, NULL, N'Y', NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[ns_than_nhan] OFF
SET IDENTITY_INSERT [dbo].[ns_trang_thai_lam_viec] ON 

INSERT [dbo].[ns_trang_thai_lam_viec] ([ID], [MA_TT_LAM_VIEC], [TEN_TT_LAM_VIEC], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT]) VALUES (1, N'DLV', N'Đang làm việc', NULL, NULL, NULL, NULL)
INSERT [dbo].[ns_trang_thai_lam_viec] ([ID], [MA_TT_LAM_VIEC], [TEN_TT_LAM_VIEC], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT]) VALUES (2, N'DCCT', N'Đã chuyển công tác', NULL, NULL, NULL, NULL)
INSERT [dbo].[ns_trang_thai_lam_viec] ([ID], [MA_TT_LAM_VIEC], [TEN_TT_LAM_VIEC], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT]) VALUES (3, N'DNV', N'Đã Nghỉ việc', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ns_trang_thai_lam_viec] OFF
SET IDENTITY_INSERT [dbo].[qt_menus] ON 

INSERT [dbo].[qt_menus] ([ID], [ID_PARENT], [TIEU_DE], [URL], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT], [STT], [IsDeleted]) VALUES (1, 0, N'Quản lý nhân sự', N'#', NULL, NULL, NULL, NULL, 1, 0)
INSERT [dbo].[qt_menus] ([ID], [ID_PARENT], [TIEU_DE], [URL], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT], [STT], [IsDeleted]) VALUES (2, 1, N'Danh sách nhân viên', N'/Modules/QuanLyNhanSu/NhanVien.aspx', NULL, NULL, CAST(0x0000A84D013AD891 AS DateTime), 1, 1, 0)
INSERT [dbo].[qt_menus] ([ID], [ID_PARENT], [TIEU_DE], [URL], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT], [STT], [IsDeleted]) VALUES (3, 19, N'Thống kê tiền thu bảo hiểm', N'/Modules/ThongKe/ThongKeBH.aspx', NULL, NULL, CAST(0x0000A854002755C7 AS DateTime), 1, 2, 0)
SET IDENTITY_INSERT [dbo].[qt_menus] OFF
SET IDENTITY_INSERT [dbo].[qt_vai_tro] ON 

INSERT [dbo].[qt_vai_tro] ([ID], [TEN_VAI_TRO], [MO_TA]) VALUES (1, N'Quản trị hệ thống', N'Đây là vai trò cao nhất trong hệ thống')
INSERT [dbo].[qt_vai_tro] ([ID], [TEN_VAI_TRO], [MO_TA]) VALUES (2, N'Phòng Tài Vụ', N'Bộ phận quản lý thanh toán lương')
INSERT [dbo].[qt_vai_tro] ([ID], [TEN_VAI_TRO], [MO_TA]) VALUES (3, N'Quản lý nhân sự', N'Bộ phận quản lý nhân sự')
SET IDENTITY_INSERT [dbo].[qt_vai_tro] OFF
SET IDENTITY_INSERT [dbo].[qt_vai_tro_menus] ON 

INSERT [dbo].[qt_vai_tro_menus] ([ID], [ID_VAI_TRO], [ID_MENU]) VALUES (1, 1, 1)
INSERT [dbo].[qt_vai_tro_menus] ([ID], [ID_VAI_TRO], [ID_MENU]) VALUES (2, 1, 2)
INSERT [dbo].[qt_vai_tro_menus] ([ID], [ID_VAI_TRO], [ID_MENU]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[qt_vai_tro_menus] OFF
SET IDENTITY_INSERT [dbo].[qt_vai_tro_users] ON 

INSERT [dbo].[qt_vai_tro_users] ([ID], [ID_NHAN_VIEN], [ID_VAI_TRO]) VALUES (1, 1, 1)
INSERT [dbo].[qt_vai_tro_users] ([ID], [ID_NHAN_VIEN], [ID_VAI_TRO]) VALUES (2, 718, 1)
INSERT [dbo].[qt_vai_tro_users] ([ID], [ID_NHAN_VIEN], [ID_VAI_TRO]) VALUES (3, 1403, 2)
GO
SET IDENTITY_INSERT [dbo].[qt_vai_tro_users] OFF
SET IDENTITY_INSERT [dbo].[tinh_luong] ON 

SET IDENTITY_INSERT [dbo].[tinh_luong] OFF
SET IDENTITY_INSERT [dbo].[tl_che_do_bao_hiem] ON 

INSERT [dbo].[tl_che_do_bao_hiem] ([ID], [HE_SO_BAO_HIEM], [BHXH_CTY], [BHXH_NV], [BHYT_CTY], [BHYT_NV], [BHTN_CTY], [BHTN_NV], [DOAN_PHI_CTY], [DOAN_PHI_NV], [TU_NGAY], [DEN_NGAY], [GHI_CHU], [NGUOI_NHAP], [NGAY_NHAP], [NGUOI_SUA], [NGAY_SUA]) VALUES (1, CAST(1210000 AS Decimal(18, 0)), CAST(18 AS Decimal(18, 0)), CAST(3 AS Decimal(18, 0)), CAST(2 AS Decimal(18, 0)), CAST(1 AS Decimal(18, 0)), CAST(1 AS Decimal(18, 0)), CAST(1 AS Decimal(18, 0)), CAST(2 AS Decimal(18, 0)), CAST(1 AS Decimal(18, 0)), CAST(0x0000A852013113F8 AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tl_che_do_bao_hiem] OFF
SET IDENTITY_INSERT [dbo].[tl_giam_tru_thue_tncn] ON 

INSERT [dbo].[tl_giam_tru_thue_tncn] ([ID], [GIAM_TRU_CA_NHAN], [GIAM_TRU_PHU_THUOC], [TU_NGAY], [DEN_NGAY], [GHI_CHU], [NGUOI_NHAP], [NGAY_NHAP], [NGUOI_SUA], [NGAY_SUA]) VALUES (1, CAST(9000000 AS Decimal(18, 0)), CAST(3600000 AS Decimal(18, 0)), CAST(0x0000A85201314498 AS DateTime), NULL, NULL, NULL, NULL, 1, CAST(0x0000A85300000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[tl_giam_tru_thue_tncn] OFF
SET IDENTITY_INSERT [dbo].[tl_ho_tro] ON 

INSERT [dbo].[tl_ho_tro] ([ID], [SO_TIEN], [NOI_DUNG_HO_TRO], [GHI_CHU], [NGAY_NHAP], [NGUOI_NHAP], [NGAY_SUA], [NGUOI_SUA]) VALUES (1, CAST(35000 AS Decimal(18, 0)), N'Tiền ăn', N'Hỗ trợ ăn trưa', CAST(0x0000A85200000000 AS DateTime), 1, CAST(0x0000A85300000000 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tl_ho_tro] OFF
SET IDENTITY_INSERT [dbo].[tl_ngay_cong] ON 

INSERT [dbo].[tl_ngay_cong] ([ID], [KY], [NAM], [ID_NHAN_VIEN], [NGAY_CONG_THOI_GIAN], [NGAY_CONG_SL], [TONG_CONG], [HE_SO_CONG_THANG], [GHI_CHU], [NGUOI_NHAP], [NGAY_NHAP], [NGUOI_SUA], [NGAY_SUA]) VALUES (58, 11, 2017, 1416, CAST(22 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(22 AS Decimal(18, 0)), CAST(23 AS Decimal(18, 0)), N'', 1, CAST(0x0000A85D00000000 AS DateTime), 1, CAST(0x0000A85D00000000 AS DateTime))
INSERT [dbo].[tl_ngay_cong] ([ID], [KY], [NAM], [ID_NHAN_VIEN], [NGAY_CONG_THOI_GIAN], [NGAY_CONG_SL], [TONG_CONG], [HE_SO_CONG_THANG], [GHI_CHU], [NGUOI_NHAP], [NGAY_NHAP], [NGUOI_SUA], [NGAY_SUA]) VALUES (59, 11, 2017, 1417, CAST(0 AS Decimal(18, 0)), CAST(22 AS Decimal(18, 0)), CAST(22 AS Decimal(18, 0)), CAST(23 AS Decimal(18, 0)), NULL, NULL, NULL, 1, CAST(0x0000A85D00000000 AS DateTime))
INSERT [dbo].[tl_ngay_cong] ([ID], [KY], [NAM], [ID_NHAN_VIEN], [NGAY_CONG_THOI_GIAN], [NGAY_CONG_SL], [TONG_CONG], [HE_SO_CONG_THANG], [GHI_CHU], [NGUOI_NHAP], [NGAY_NHAP], [NGUOI_SUA], [NGAY_SUA]) VALUES (60, 11, 2017, 1418, CAST(2 AS Decimal(18, 0)), CAST(20 AS Decimal(18, 0)), CAST(22 AS Decimal(18, 0)), CAST(23 AS Decimal(18, 0)), NULL, NULL, NULL, 1, CAST(0x0000A85D00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[tl_ngay_cong] OFF
SET IDENTITY_INSERT [dbo].[tl_phi_bao_hiem] ON 

INSERT [dbo].[tl_phi_bao_hiem] ([ID], [ID_TINH_LUONG], [ID_che_bao_hiem], [NOP_BHXH], [NOP_BHYT], [NOP_BHTN], [NOP_DOAN_PHI_NV], [TONG_PHI]) VALUES (39, 78, 1, CAST(396000 AS Decimal(18, 0)), CAST(132000 AS Decimal(18, 0)), CAST(132000 AS Decimal(18, 0)), CAST(132000 AS Decimal(18, 0)), CAST(924000 AS Decimal(18, 0)))
INSERT [dbo].[tl_phi_bao_hiem] ([ID], [ID_TINH_LUONG], [ID_che_bao_hiem], [NOP_BHXH], [NOP_BHYT], [NOP_BHTN], [NOP_DOAN_PHI_NV], [TONG_PHI]) VALUES (40, 79, 1, CAST(221940 AS Decimal(18, 0)), CAST(73980 AS Decimal(18, 0)), CAST(73980 AS Decimal(18, 0)), CAST(73980 AS Decimal(18, 0)), CAST(517861 AS Decimal(18, 0)))
INSERT [dbo].[tl_phi_bao_hiem] ([ID], [ID_TINH_LUONG], [ID_che_bao_hiem], [NOP_BHXH], [NOP_BHYT], [NOP_BHTN], [NOP_DOAN_PHI_NV], [TONG_PHI]) VALUES (41, 80, 1, CAST(227562 AS Decimal(18, 0)), CAST(75854 AS Decimal(18, 0)), CAST(75854 AS Decimal(18, 0)), CAST(75854 AS Decimal(18, 0)), CAST(530978 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[tl_phi_bao_hiem] OFF
SET IDENTITY_INSERT [dbo].[tl_san_pham] ON 

INSERT [dbo].[tl_san_pham] ([ID], [MA_SAN_PHAM], [TEN_CONG_VIEC], [HE_SO_CONG_VAO], [SL_MUC_1], [SL_MUC_2], [DON_GIA_1], [DON_GIA_2], [DON_GIA_3], [TU_NGAY], [DEN_NGAY], [GHI_CHU], [NGUOI_NHAP], [NGAY_NHAP], [NGUOI_SUA], [NGAY_SUA], [MA_DON_VI]) VALUES (1, N'K6SA', N'XỬ LÝ CHỨNG TỪ K6', CAST(0 AS Decimal(18, 0)), CAST(21315 AS Decimal(18, 0)), CAST(39585 AS Decimal(18, 0)), CAST(170 AS Decimal(18, 0)), CAST(190 AS Decimal(18, 0)), CAST(110 AS Decimal(18, 0)), NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[tl_san_pham] ([ID], [MA_SAN_PHAM], [TEN_CONG_VIEC], [HE_SO_CONG_VAO], [SL_MUC_1], [SL_MUC_2], [DON_GIA_1], [DON_GIA_2], [DON_GIA_3], [TU_NGAY], [DEN_NGAY], [GHI_CHU], [NGUOI_NHAP], [NGAY_NHAP], [NGUOI_SUA], [NGAY_SUA], [MA_DON_VI]) VALUES (2, N'OUWD', N'XỬ LÝ CHỨNG TỪ OUTWARD', CAST(0 AS Decimal(18, 0)), CAST(3850 AS Decimal(18, 0)), CAST(5200 AS Decimal(18, 0)), CAST(1040 AS Decimal(18, 0)), CAST(1140 AS Decimal(18, 0)), CAST(700 AS Decimal(18, 0)), NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[tl_san_pham] ([ID], [MA_SAN_PHAM], [TEN_CONG_VIEC], [HE_SO_CONG_VAO], [SL_MUC_1], [SL_MUC_2], [DON_GIA_1], [DON_GIA_2], [DON_GIA_3], [TU_NGAY], [DEN_NGAY], [GHI_CHU], [NGUOI_NHAP], [NGAY_NHAP], [NGUOI_SUA], [NGAY_SUA], [MA_DON_VI]) VALUES (3, N'INWD', N'XỬ LÝ CHỨNG TỪ INWARD', CAST(2000000 AS Decimal(18, 0)), CAST(3840 AS Decimal(18, 0)), CAST(5326 AS Decimal(18, 0)), CAST(1250 AS Decimal(18, 0)), CAST(880 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tl_san_pham] OFF
SET IDENTITY_INSERT [dbo].[tl_thuong] ON 

INSERT [dbo].[tl_thuong] ([ID], [KY], [NAM], [TIEN_THUONG], [NOI_DUNG], [ID_NHAN_VIEN], [GHI_CHU], [NGAY_NHAP], [NGUOI_NHAP], [NGAY_SUA], [NGUOI_SUA]) VALUES (2, 12, 2017, CAST(500000 AS Decimal(18, 0)), N'Đảng viên gương mẫu', 1417, N'', CAST(0x0000A85300000000 AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tl_thuong] OFF
ALTER TABLE [dbo].[luong_san_pham] ADD  DEFAULT (NULL) FOR [HE_SO_CONG_VAO]
GO
ALTER TABLE [dbo].[luong_san_pham] ADD  DEFAULT (NULL) FOR [SL_MUC_1]
GO
ALTER TABLE [dbo].[luong_san_pham] ADD  DEFAULT (NULL) FOR [SL_MUC_2]
GO
ALTER TABLE [dbo].[luong_san_pham] ADD  DEFAULT (NULL) FOR [DON_GIA_1]
GO
ALTER TABLE [dbo].[luong_san_pham] ADD  DEFAULT (NULL) FOR [DON_GIA_2]
GO
ALTER TABLE [dbo].[luong_san_pham] ADD  DEFAULT (NULL) FOR [DON_GIA_3]
GO
ALTER TABLE [dbo].[ns_chuc_danh] ADD  DEFAULT (NULL) FOR [TEN_CHUC_DANH]
GO
ALTER TABLE [dbo].[ns_chuc_danh] ADD  DEFAULT (NULL) FOR [HE_SO]
GO
ALTER TABLE [dbo].[ns_chuc_danh] ADD  DEFAULT (NULL) FOR [HE_SO_TRACH_NHIEM]
GO
ALTER TABLE [dbo].[ns_chuc_danh] ADD  DEFAULT (NULL) FOR [TOEIC]
GO
ALTER TABLE [dbo].[ns_chuc_danh] ADD  DEFAULT (getdate()) FOR [NGAY_TAO]
GO
ALTER TABLE [dbo].[ns_chuc_danh] ADD  DEFAULT (NULL) FOR [NGUOI_TAO]
GO
ALTER TABLE [dbo].[ns_chuc_danh] ADD  DEFAULT (NULL) FOR [NGAY_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_chuc_danh] ADD  DEFAULT (NULL) FOR [NGUOI_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_chuyen_nganh] ADD  DEFAULT (NULL) FOR [TEN_CHUYEN_NGANH]
GO
ALTER TABLE [dbo].[ns_chuyen_nganh] ADD  DEFAULT (NULL) FOR [LA_CNTT]
GO
ALTER TABLE [dbo].[ns_chuyen_nganh] ADD  DEFAULT (getdate()) FOR [NGAY_TAO]
GO
ALTER TABLE [dbo].[ns_chuyen_nganh] ADD  DEFAULT (NULL) FOR [NGUOI_TAO]
GO
ALTER TABLE [dbo].[ns_chuyen_nganh] ADD  DEFAULT (NULL) FOR [NGAY_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_chuyen_nganh] ADD  DEFAULT (NULL) FOR [NGUOI_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_don_vi] ADD  DEFAULT (NULL) FOR [NGAY_THANH_LAP]
GO
ALTER TABLE [dbo].[ns_don_vi] ADD  DEFAULT (getdate()) FOR [NGAY_TAO]
GO
ALTER TABLE [dbo].[ns_don_vi] ADD  DEFAULT (NULL) FOR [NGUOI_TAO]
GO
ALTER TABLE [dbo].[ns_don_vi] ADD  DEFAULT (NULL) FOR [NGAY_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_don_vi] ADD  DEFAULT (NULL) FOR [NGUOI_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_hop_dong] ADD  DEFAULT (NULL) FOR [SO_HOP_DONG]
GO
ALTER TABLE [dbo].[ns_hop_dong] ADD  DEFAULT (NULL) FOR [TU_NGAY]
GO
ALTER TABLE [dbo].[ns_hop_dong] ADD  DEFAULT (NULL) FOR [DEN_NGAY]
GO
ALTER TABLE [dbo].[ns_hop_dong] ADD  DEFAULT (NULL) FOR [SO_QUYET_DINH]
GO
ALTER TABLE [dbo].[ns_hop_dong] ADD  DEFAULT (getdate()) FOR [NGAY_TAO]
GO
ALTER TABLE [dbo].[ns_hop_dong] ADD  DEFAULT (NULL) FOR [NGUOI_TAO]
GO
ALTER TABLE [dbo].[ns_hop_dong] ADD  DEFAULT (NULL) FOR [NGAY_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_hop_dong] ADD  DEFAULT (NULL) FOR [NGUOI_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_hop_dong] ADD  DEFAULT (NULL) FOR [NGAY_KY]
GO
ALTER TABLE [dbo].[ns_hop_dong] ADD  DEFAULT (NULL) FOR [NGUOI_KY]
GO
ALTER TABLE [dbo].[ns_ht_khen_thuong] ADD  DEFAULT (NULL) FOR [TEN_HT_KHEN_THUONG]
GO
ALTER TABLE [dbo].[ns_ht_khen_thuong] ADD  DEFAULT (NULL) FOR [HE_SO]
GO
ALTER TABLE [dbo].[ns_ht_khen_thuong] ADD  DEFAULT (NULL) FOR [NGAY_TAO]
GO
ALTER TABLE [dbo].[ns_ht_khen_thuong] ADD  DEFAULT (NULL) FOR [NGUOI_TAO]
GO
ALTER TABLE [dbo].[ns_ht_khen_thuong] ADD  DEFAULT (NULL) FOR [NGAY_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_ht_khen_thuong] ADD  DEFAULT (NULL) FOR [NGUOI_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_ht_ky_luat] ADD  DEFAULT (NULL) FOR [HE_SO]
GO
ALTER TABLE [dbo].[ns_ht_ky_luat] ADD  DEFAULT (getdate()) FOR [NGAY_TAO]
GO
ALTER TABLE [dbo].[ns_ht_ky_luat] ADD  DEFAULT (NULL) FOR [NGUOI_TAO]
GO
ALTER TABLE [dbo].[ns_ht_ky_luat] ADD  DEFAULT (NULL) FOR [NGAY_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_ht_ky_luat] ADD  DEFAULT (NULL) FOR [NGUOI_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_khen_thuong] ADD  DEFAULT (NULL) FOR [NHAN_VIEN_ID]
GO
ALTER TABLE [dbo].[ns_khen_thuong] ADD  DEFAULT (NULL) FOR [NGAY_KHEN_THUONG]
GO
ALTER TABLE [dbo].[ns_khen_thuong] ADD  DEFAULT (NULL) FOR [SO_QUYET_DINH]
GO
ALTER TABLE [dbo].[ns_khen_thuong] ADD  DEFAULT (getdate()) FOR [NGAY_TAO]
GO
ALTER TABLE [dbo].[ns_khen_thuong] ADD  DEFAULT (NULL) FOR [NGUOI_TAO]
GO
ALTER TABLE [dbo].[ns_khen_thuong] ADD  DEFAULT (NULL) FOR [NGAY_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_khen_thuong] ADD  DEFAULT (NULL) FOR [NGUOI_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_ky_luat] ADD  DEFAULT (NULL) FOR [GHI_CHU]
GO
ALTER TABLE [dbo].[ns_ky_luat] ADD  DEFAULT (NULL) FOR [SO_QUYET_DINH]
GO
ALTER TABLE [dbo].[ns_ky_luat] ADD  DEFAULT (getdate()) FOR [NGAY_TAO]
GO
ALTER TABLE [dbo].[ns_ky_luat] ADD  DEFAULT (NULL) FOR [NGUOI_TAO]
GO
ALTER TABLE [dbo].[ns_ky_luat] ADD  DEFAULT (NULL) FOR [NGAY_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_ky_luat] ADD  DEFAULT (NULL) FOR [NGUOI_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_loai_hop_dong] ADD  DEFAULT (getdate()) FOR [NGAY_TAO]
GO
ALTER TABLE [dbo].[ns_loai_hop_dong] ADD  DEFAULT (NULL) FOR [NGUOI_TAO]
GO
ALTER TABLE [dbo].[ns_loai_hop_dong] ADD  DEFAULT (NULL) FOR [NGAY_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_loai_hop_dong] ADD  DEFAULT (NULL) FOR [NGUOI_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_nhan_vien] ADD  DEFAULT (NULL) FOR [MA_CHUC_DANH]
GO
ALTER TABLE [dbo].[ns_nhan_vien] ADD  DEFAULT (NULL) FOR [MA_CHUYEN_NGANH]
GO
ALTER TABLE [dbo].[ns_nhan_vien] ADD  DEFAULT (NULL) FOR [TRINH_DO]
GO
ALTER TABLE [dbo].[ns_nhan_vien] ADD  DEFAULT (NULL) FOR [username]
GO
ALTER TABLE [dbo].[ns_nhan_vien] ADD  DEFAULT (NULL) FOR [password]
GO
ALTER TABLE [dbo].[ns_nhan_vien] ADD  DEFAULT (NULL) FOR [NGAY_SINH]
GO
ALTER TABLE [dbo].[ns_nhan_vien] ADD  DEFAULT (NULL) FOR [GIOI_TINH]
GO
ALTER TABLE [dbo].[ns_nhan_vien] ADD  DEFAULT (NULL) FOR [SO_DIEN_THOAI]
GO
ALTER TABLE [dbo].[ns_nhan_vien] ADD  DEFAULT (NULL) FOR [DI_DONG]
GO
ALTER TABLE [dbo].[ns_nhan_vien] ADD  DEFAULT (NULL) FOR [DAN_TOC]
GO
ALTER TABLE [dbo].[ns_nhan_vien] ADD  DEFAULT (NULL) FOR [SO_THE_BHYT]
GO
ALTER TABLE [dbo].[ns_nhan_vien] ADD  DEFAULT (NULL) FOR [SO_XO_BHXH]
GO
ALTER TABLE [dbo].[ns_nhan_vien] ADD  DEFAULT (NULL) FOR [SO_THE_NGANH]
GO
ALTER TABLE [dbo].[ns_nhan_vien] ADD  DEFAULT (NULL) FOR [EMAIL]
GO
ALTER TABLE [dbo].[ns_nhan_vien] ADD  DEFAULT (NULL) FOR [SO_CMND]
GO
ALTER TABLE [dbo].[ns_nhan_vien] ADD  DEFAULT (NULL) FOR [NGAY_VAO_DANG]
GO
ALTER TABLE [dbo].[ns_nhan_vien] ADD  DEFAULT (NULL) FOR [CHUC_VU_DANG]
GO
ALTER TABLE [dbo].[ns_nhan_vien] ADD  DEFAULT (NULL) FOR [NGAY_TINH_THAM_NIEN]
GO
ALTER TABLE [dbo].[ns_nhan_vien] ADD  DEFAULT (getdate()) FOR [NGAY_TAO]
GO
ALTER TABLE [dbo].[ns_nhan_vien] ADD  DEFAULT (NULL) FOR [NGUOI_TAO]
GO
ALTER TABLE [dbo].[ns_nhan_vien] ADD  DEFAULT (NULL) FOR [NGAY_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_nhan_vien] ADD  DEFAULT (NULL) FOR [NGUOI_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_qua_trinh_cong_tac] ADD  DEFAULT (NULL) FOR [CHUC_DANH_ID]
GO
ALTER TABLE [dbo].[ns_qua_trinh_cong_tac] ADD  DEFAULT (NULL) FOR [DON_VI_ID]
GO
ALTER TABLE [dbo].[ns_qua_trinh_cong_tac] ADD  DEFAULT (NULL) FOR [DEN_NGAY]
GO
ALTER TABLE [dbo].[ns_qua_trinh_cong_tac] ADD  DEFAULT (NULL) FOR [GHI_CHU]
GO
ALTER TABLE [dbo].[ns_qua_trinh_cong_tac] ADD  DEFAULT (getdate()) FOR [NGAY_TAO]
GO
ALTER TABLE [dbo].[ns_qua_trinh_cong_tac] ADD  DEFAULT (NULL) FOR [NGUOI_TAO]
GO
ALTER TABLE [dbo].[ns_qua_trinh_cong_tac] ADD  DEFAULT (NULL) FOR [NGAY_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_qua_trinh_cong_tac] ADD  DEFAULT (NULL) FOR [NGUOI_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_qua_trinh_cong_tac] ADD  DEFAULT (NULL) FOR [HE_SO_BAO_HIEM]
GO
ALTER TABLE [dbo].[ns_qua_trinh_cong_tac] ADD  DEFAULT (NULL) FOR [BANG_LUONG]
GO
ALTER TABLE [dbo].[ns_qua_trinh_cong_tac] ADD  DEFAULT (NULL) FOR [BAC_LUONG]
GO
ALTER TABLE [dbo].[ns_tai_nan_lao_dong] ADD  DEFAULT (NULL) FOR [LY_DO]
GO
ALTER TABLE [dbo].[ns_tai_nan_lao_dong] ADD  DEFAULT (NULL) FOR [TY_LE_THUONG_TAT]
GO
ALTER TABLE [dbo].[ns_tai_nan_lao_dong] ADD  DEFAULT (NULL) FOR [GHI_CHU]
GO
ALTER TABLE [dbo].[ns_tai_nan_lao_dong] ADD  DEFAULT (getdate()) FOR [NGAY_TAO]
GO
ALTER TABLE [dbo].[ns_tai_nan_lao_dong] ADD  DEFAULT (NULL) FOR [NGUOI_TAO]
GO
ALTER TABLE [dbo].[ns_tai_nan_lao_dong] ADD  DEFAULT (NULL) FOR [NGAY_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_tai_nan_lao_dong] ADD  DEFAULT (NULL) FOR [NGUOI_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_than_nhan] ADD  DEFAULT (NULL) FOR [HO_TEN]
GO
ALTER TABLE [dbo].[ns_than_nhan] ADD  DEFAULT (NULL) FOR [NGAY_SINH]
GO
ALTER TABLE [dbo].[ns_than_nhan] ADD  DEFAULT (NULL) FOR [DIA_CHI]
GO
ALTER TABLE [dbo].[ns_than_nhan] ADD  DEFAULT (NULL) FOR [SO_DIEN_THOAI]
GO
ALTER TABLE [dbo].[ns_than_nhan] ADD  DEFAULT (NULL) FOR [NGHE_NGHIEP]
GO
ALTER TABLE [dbo].[ns_than_nhan] ADD  DEFAULT (NULL) FOR [GIAM_TRU]
GO
ALTER TABLE [dbo].[ns_than_nhan] ADD  DEFAULT (NULL) FOR [GIAM_TU_NGAY]
GO
ALTER TABLE [dbo].[ns_than_nhan] ADD  DEFAULT (NULL) FOR [GIAM_DEN_NGAY]
GO
ALTER TABLE [dbo].[ns_than_nhan] ADD  DEFAULT (getdate()) FOR [NGAY_TAO]
GO
ALTER TABLE [dbo].[ns_than_nhan] ADD  DEFAULT (NULL) FOR [NGUOI_TAO]
GO
ALTER TABLE [dbo].[ns_than_nhan] ADD  DEFAULT (NULL) FOR [NGAY_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_than_nhan] ADD  DEFAULT (NULL) FOR [NGUOI_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_trang_thai_lam_viec] ADD  DEFAULT (getdate()) FOR [NGAY_TAO]
GO
ALTER TABLE [dbo].[ns_trang_thai_lam_viec] ADD  DEFAULT (NULL) FOR [NGUOI_TAO]
GO
ALTER TABLE [dbo].[ns_trang_thai_lam_viec] ADD  DEFAULT (NULL) FOR [NGAY_CAP_NHAT]
GO
ALTER TABLE [dbo].[ns_trang_thai_lam_viec] ADD  DEFAULT (NULL) FOR [NGUOI_CAP_NHAT]
GO
ALTER TABLE [dbo].[qt_menus] ADD  DEFAULT (NULL) FOR [ID_PARENT]
GO
ALTER TABLE [dbo].[qt_menus] ADD  DEFAULT (NULL) FOR [URL]
GO
ALTER TABLE [dbo].[qt_menus] ADD  DEFAULT (getdate()) FOR [NGAY_TAO]
GO
ALTER TABLE [dbo].[qt_menus] ADD  DEFAULT (NULL) FOR [NGUOI_TAO]
GO
ALTER TABLE [dbo].[qt_menus] ADD  DEFAULT (NULL) FOR [NGAY_CAP_NHAT]
GO
ALTER TABLE [dbo].[qt_menus] ADD  DEFAULT (NULL) FOR [NGUOI_CAP_NHAT]
GO
ALTER TABLE [dbo].[qt_menus] ADD  DEFAULT (NULL) FOR [STT]
GO
ALTER TABLE [dbo].[qt_vai_tro] ADD  DEFAULT (NULL) FOR [TEN_VAI_TRO]
GO
ALTER TABLE [dbo].[tinh_luong] ADD  DEFAULT (NULL) FOR [KY]
GO
ALTER TABLE [dbo].[tinh_luong] ADD  DEFAULT (NULL) FOR [NAM]
GO
ALTER TABLE [dbo].[tl_che_do_bao_hiem] ADD  DEFAULT (NULL) FOR [HE_SO_BAO_HIEM]
GO
ALTER TABLE [dbo].[tl_che_do_bao_hiem] ADD  DEFAULT (NULL) FOR [BHXH_CTY]
GO
ALTER TABLE [dbo].[tl_che_do_bao_hiem] ADD  DEFAULT (NULL) FOR [BHXH_NV]
GO
ALTER TABLE [dbo].[tl_che_do_bao_hiem] ADD  DEFAULT (NULL) FOR [BHYT_CTY]
GO
ALTER TABLE [dbo].[tl_che_do_bao_hiem] ADD  DEFAULT (NULL) FOR [BHYT_NV]
GO
ALTER TABLE [dbo].[tl_che_do_bao_hiem] ADD  DEFAULT (NULL) FOR [BHTN_CTY]
GO
ALTER TABLE [dbo].[tl_che_do_bao_hiem] ADD  DEFAULT (NULL) FOR [BHTN_NV]
GO
ALTER TABLE [dbo].[tl_che_do_bao_hiem] ADD  DEFAULT (NULL) FOR [DOAN_PHI_CTY]
GO
ALTER TABLE [dbo].[tl_che_do_bao_hiem] ADD  DEFAULT (NULL) FOR [DOAN_PHI_NV]
GO
ALTER TABLE [dbo].[tl_che_do_bao_hiem] ADD  DEFAULT (getdate()) FOR [TU_NGAY]
GO
ALTER TABLE [dbo].[tl_che_do_bao_hiem] ADD  DEFAULT (NULL) FOR [DEN_NGAY]
GO
ALTER TABLE [dbo].[tl_che_do_bao_hiem] ADD  DEFAULT (NULL) FOR [NGUOI_NHAP]
GO
ALTER TABLE [dbo].[tl_che_do_bao_hiem] ADD  DEFAULT (NULL) FOR [NGAY_NHAP]
GO
ALTER TABLE [dbo].[tl_che_do_bao_hiem] ADD  DEFAULT (NULL) FOR [NGUOI_SUA]
GO
ALTER TABLE [dbo].[tl_che_do_bao_hiem] ADD  DEFAULT (NULL) FOR [NGAY_SUA]
GO
ALTER TABLE [dbo].[tl_giam_tru_thue_tncn] ADD  DEFAULT (NULL) FOR [GIAM_TRU_CA_NHAN]
GO
ALTER TABLE [dbo].[tl_giam_tru_thue_tncn] ADD  DEFAULT (NULL) FOR [GIAM_TRU_PHU_THUOC]
GO
ALTER TABLE [dbo].[tl_giam_tru_thue_tncn] ADD  DEFAULT (getdate()) FOR [TU_NGAY]
GO
ALTER TABLE [dbo].[tl_giam_tru_thue_tncn] ADD  DEFAULT (NULL) FOR [DEN_NGAY]
GO
ALTER TABLE [dbo].[tl_giam_tru_thue_tncn] ADD  DEFAULT (NULL) FOR [NGUOI_NHAP]
GO
ALTER TABLE [dbo].[tl_giam_tru_thue_tncn] ADD  DEFAULT (NULL) FOR [NGAY_NHAP]
GO
ALTER TABLE [dbo].[tl_giam_tru_thue_tncn] ADD  DEFAULT (NULL) FOR [NGUOI_SUA]
GO
ALTER TABLE [dbo].[tl_giam_tru_thue_tncn] ADD  DEFAULT (NULL) FOR [NGAY_SUA]
GO
ALTER TABLE [dbo].[tl_ho_tro] ADD  DEFAULT (NULL) FOR [NOI_DUNG_HO_TRO]
GO
ALTER TABLE [dbo].[tl_ho_tro] ADD  DEFAULT (NULL) FOR [NGAY_NHAP]
GO
ALTER TABLE [dbo].[tl_ho_tro] ADD  DEFAULT (NULL) FOR [NGUOI_NHAP]
GO
ALTER TABLE [dbo].[tl_ho_tro] ADD  DEFAULT (NULL) FOR [NGAY_SUA]
GO
ALTER TABLE [dbo].[tl_ho_tro] ADD  DEFAULT (NULL) FOR [NGUOI_SUA]
GO
ALTER TABLE [dbo].[tl_ngay_cong] ADD  DEFAULT (NULL) FOR [KY]
GO
ALTER TABLE [dbo].[tl_ngay_cong] ADD  DEFAULT (NULL) FOR [NAM]
GO
ALTER TABLE [dbo].[tl_ngay_cong] ADD  DEFAULT (NULL) FOR [ID_NHAN_VIEN]
GO
ALTER TABLE [dbo].[tl_ngay_cong] ADD  DEFAULT (NULL) FOR [TONG_CONG]
GO
ALTER TABLE [dbo].[tl_ngay_cong] ADD  DEFAULT (NULL) FOR [NGUOI_NHAP]
GO
ALTER TABLE [dbo].[tl_ngay_cong] ADD  DEFAULT (NULL) FOR [NGAY_NHAP]
GO
ALTER TABLE [dbo].[tl_ngay_cong] ADD  DEFAULT (NULL) FOR [NGUOI_SUA]
GO
ALTER TABLE [dbo].[tl_ngay_cong] ADD  DEFAULT (NULL) FOR [NGAY_SUA]
GO
ALTER TABLE [dbo].[tl_phi_bao_hiem] ADD  DEFAULT (NULL) FOR [NOP_BHXH]
GO
ALTER TABLE [dbo].[tl_phi_bao_hiem] ADD  DEFAULT (NULL) FOR [NOP_BHYT]
GO
ALTER TABLE [dbo].[tl_phi_bao_hiem] ADD  DEFAULT (NULL) FOR [NOP_BHTN]
GO
ALTER TABLE [dbo].[tl_phi_bao_hiem] ADD  DEFAULT (NULL) FOR [NOP_DOAN_PHI_NV]
GO
ALTER TABLE [dbo].[tl_san_pham] ADD  DEFAULT (NULL) FOR [HE_SO_CONG_VAO]
GO
ALTER TABLE [dbo].[tl_san_pham] ADD  DEFAULT (NULL) FOR [SL_MUC_1]
GO
ALTER TABLE [dbo].[tl_san_pham] ADD  DEFAULT (NULL) FOR [SL_MUC_2]
GO
ALTER TABLE [dbo].[tl_san_pham] ADD  DEFAULT (NULL) FOR [DON_GIA_1]
GO
ALTER TABLE [dbo].[tl_san_pham] ADD  DEFAULT (NULL) FOR [DON_GIA_2]
GO
ALTER TABLE [dbo].[tl_san_pham] ADD  DEFAULT (NULL) FOR [DON_GIA_3]
GO
ALTER TABLE [dbo].[tl_san_pham] ADD  DEFAULT (getdate()) FOR [TU_NGAY]
GO
ALTER TABLE [dbo].[tl_san_pham] ADD  DEFAULT (NULL) FOR [DEN_NGAY]
GO
ALTER TABLE [dbo].[tl_san_pham] ADD  DEFAULT (NULL) FOR [NGUOI_NHAP]
GO
ALTER TABLE [dbo].[tl_san_pham] ADD  DEFAULT (NULL) FOR [NGAY_NHAP]
GO
ALTER TABLE [dbo].[tl_san_pham] ADD  DEFAULT (NULL) FOR [NGUOI_SUA]
GO
ALTER TABLE [dbo].[tl_san_pham] ADD  DEFAULT (NULL) FOR [NGAY_SUA]
GO
ALTER TABLE [dbo].[tl_san_pham] ADD  DEFAULT (NULL) FOR [MA_DON_VI]
GO
ALTER TABLE [dbo].[tl_thuong] ADD  DEFAULT (NULL) FOR [KY]
GO
ALTER TABLE [dbo].[tl_thuong] ADD  DEFAULT (NULL) FOR [NAM]
GO
ALTER TABLE [dbo].[tl_thuong] ADD  DEFAULT (NULL) FOR [TIEN_THUONG]
GO
ALTER TABLE [dbo].[tl_thuong] ADD  DEFAULT (NULL) FOR [NOI_DUNG]
GO
ALTER TABLE [dbo].[tl_thuong] ADD  DEFAULT (NULL) FOR [ID_NHAN_VIEN]
GO
ALTER TABLE [dbo].[tl_thuong] ADD  DEFAULT (NULL) FOR [NGAY_NHAP]
GO
ALTER TABLE [dbo].[tl_thuong] ADD  DEFAULT (NULL) FOR [NGUOI_NHAP]
GO
ALTER TABLE [dbo].[tl_thuong] ADD  DEFAULT (NULL) FOR [NGAY_SUA]
GO
ALTER TABLE [dbo].[tl_thuong] ADD  DEFAULT (NULL) FOR [NGUOI_SUA]
GO
ALTER TABLE [dbo].[luong_san_pham]  WITH CHECK ADD FOREIGN KEY([ID_DON_GIA_SP])
REFERENCES [dbo].[tl_san_pham] ([ID])
GO
ALTER TABLE [dbo].[luong_san_pham]  WITH CHECK ADD FOREIGN KEY([ID_TINH_LUONG])
REFERENCES [dbo].[tinh_luong] ([ID])
GO
ALTER TABLE [dbo].[luong_thoi_gian]  WITH CHECK ADD FOREIGN KEY([ID_NGAY_CONG])
REFERENCES [dbo].[tl_ngay_cong] ([ID])
GO
ALTER TABLE [dbo].[luong_thoi_gian]  WITH CHECK ADD FOREIGN KEY([ID_TINH_LUONG])
REFERENCES [dbo].[tinh_luong] ([ID])
GO
ALTER TABLE [dbo].[ns_hop_dong]  WITH CHECK ADD FOREIGN KEY([LOAI_HOP_DONG_ID])
REFERENCES [dbo].[ns_loai_hop_dong] ([ID])
GO
ALTER TABLE [dbo].[ns_hop_dong]  WITH CHECK ADD FOREIGN KEY([NHAN_VIEN_ID])
REFERENCES [dbo].[ns_nhan_vien] ([ID])
GO
ALTER TABLE [dbo].[ns_khen_thuong]  WITH CHECK ADD FOREIGN KEY([HT_KHEN_THUONG])
REFERENCES [dbo].[ns_ht_khen_thuong] ([MA_HT_KHEN_THUONG])
GO
ALTER TABLE [dbo].[ns_khen_thuong]  WITH CHECK ADD FOREIGN KEY([NHAN_VIEN_ID])
REFERENCES [dbo].[ns_nhan_vien] ([ID])
GO
ALTER TABLE [dbo].[ns_ky_luat]  WITH CHECK ADD FOREIGN KEY([MA_HT_KY_LUAT])
REFERENCES [dbo].[ns_ht_ky_luat] ([MA_HT_KY_LUAT])
GO
ALTER TABLE [dbo].[ns_ky_luat]  WITH CHECK ADD FOREIGN KEY([NHAN_VIEN_ID])
REFERENCES [dbo].[ns_nhan_vien] ([ID])
GO
ALTER TABLE [dbo].[ns_nhan_vien]  WITH CHECK ADD FOREIGN KEY([MA_CHUYEN_NGANH])
REFERENCES [dbo].[ns_chuyen_nganh] ([MA_CHUYEN_NGANH])
GO
ALTER TABLE [dbo].[ns_nhan_vien]  WITH CHECK ADD FOREIGN KEY([MA_DON_VI])
REFERENCES [dbo].[ns_don_vi] ([MA_DON_VI])
GO
ALTER TABLE [dbo].[ns_nhan_vien]  WITH CHECK ADD  CONSTRAINT [FK_nv_cn] FOREIGN KEY([MA_CHUC_DANH])
REFERENCES [dbo].[ns_chuc_danh] ([MA_CHUC_DANH])
GO
ALTER TABLE [dbo].[ns_nhan_vien] CHECK CONSTRAINT [FK_nv_cn]
GO
ALTER TABLE [dbo].[ns_qua_trinh_cong_tac]  WITH CHECK ADD FOREIGN KEY([CHUC_DANH_ID])
REFERENCES [dbo].[ns_chuc_danh] ([MA_CHUC_DANH])
GO
ALTER TABLE [dbo].[ns_qua_trinh_cong_tac]  WITH CHECK ADD FOREIGN KEY([DON_VI_ID])
REFERENCES [dbo].[ns_don_vi] ([MA_DON_VI])
GO
ALTER TABLE [dbo].[ns_qua_trinh_cong_tac]  WITH CHECK ADD FOREIGN KEY([NHAN_VIEN_ID])
REFERENCES [dbo].[ns_nhan_vien] ([ID])
GO
ALTER TABLE [dbo].[ns_qua_trinh_cong_tac]  WITH CHECK ADD FOREIGN KEY([TRANG_THAI_LAM_VIEC_ID])
REFERENCES [dbo].[ns_trang_thai_lam_viec] ([ID])
GO
ALTER TABLE [dbo].[ns_tai_nan_lao_dong]  WITH CHECK ADD FOREIGN KEY([NHAN_VIEN_ID])
REFERENCES [dbo].[ns_nhan_vien] ([ID])
GO
ALTER TABLE [dbo].[ns_than_nhan]  WITH CHECK ADD FOREIGN KEY([NHAN_VIEN_ID])
REFERENCES [dbo].[ns_nhan_vien] ([ID])
GO
ALTER TABLE [dbo].[qt_vai_tro_menus]  WITH CHECK ADD FOREIGN KEY([ID_MENU])
REFERENCES [dbo].[qt_menus] ([ID])
GO
ALTER TABLE [dbo].[qt_vai_tro_menus]  WITH CHECK ADD FOREIGN KEY([ID_VAI_TRO])
REFERENCES [dbo].[qt_vai_tro] ([ID])
GO
ALTER TABLE [dbo].[qt_vai_tro_users]  WITH CHECK ADD FOREIGN KEY([ID_NHAN_VIEN])
REFERENCES [dbo].[ns_nhan_vien] ([ID])
GO
ALTER TABLE [dbo].[qt_vai_tro_users]  WITH CHECK ADD FOREIGN KEY([ID_VAI_TRO])
REFERENCES [dbo].[qt_vai_tro] ([ID])
GO
ALTER TABLE [dbo].[tinh_luong]  WITH CHECK ADD FOREIGN KEY([ID_HO_TRO])
REFERENCES [dbo].[tl_ho_tro] ([ID])
GO
ALTER TABLE [dbo].[tinh_luong]  WITH CHECK ADD FOREIGN KEY([ID_NGAY_CONG])
REFERENCES [dbo].[tl_ngay_cong] ([ID])
GO
ALTER TABLE [dbo].[tinh_luong]  WITH CHECK ADD FOREIGN KEY([ID_NHAN_VIEN])
REFERENCES [dbo].[ns_nhan_vien] ([ID])
GO
ALTER TABLE [dbo].[tinh_luong]  WITH CHECK ADD FOREIGN KEY([ID_THUE_TNCN])
REFERENCES [dbo].[tl_giam_tru_thue_tncn] ([ID])
GO
ALTER TABLE [dbo].[tinh_luong]  WITH CHECK ADD FOREIGN KEY([ID_TIEN_THUONG])
REFERENCES [dbo].[tl_thuong] ([ID])
GO
ALTER TABLE [dbo].[tl_ngay_cong]  WITH CHECK ADD FOREIGN KEY([ID_NHAN_VIEN])
REFERENCES [dbo].[ns_nhan_vien] ([ID])
GO
ALTER TABLE [dbo].[tl_phi_bao_hiem]  WITH CHECK ADD FOREIGN KEY([ID_che_bao_hiem])
REFERENCES [dbo].[tl_che_do_bao_hiem] ([ID])
GO
ALTER TABLE [dbo].[tl_phi_bao_hiem]  WITH CHECK ADD FOREIGN KEY([ID_TINH_LUONG])
REFERENCES [dbo].[tinh_luong] ([ID])
GO
ALTER TABLE [dbo].[tl_san_pham]  WITH CHECK ADD FOREIGN KEY([MA_DON_VI])
REFERENCES [dbo].[ns_don_vi] ([MA_DON_VI])
GO
ALTER TABLE [dbo].[tl_thuong]  WITH CHECK ADD FOREIGN KEY([ID_NHAN_VIEN])
REFERENCES [dbo].[ns_nhan_vien] ([ID])
GO
